h2 {
    color: white;
    border-left: 10px solid #b1154a;
}

body {
    background-color: #f9f9fa;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding-left: 3vw;
    padding-right: 3vw;
}

.card-block {
    padding: 1.5rem;
}

.m-b-20 {
    margin-bottom: 20px;
}

.img-radius {
    border-radius: 6px;
}


h6 {
    font-size: 16px;
}

.card .card-block p {
    line-height: 100px;
}

p {
    font-size: 2.5vh;
    color: crimson;
}

.card-fit {
    padding-top: 2vw;
    padding-bottom: 5vw;
}
.card-block {
    padding: 1.5rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 40px;
    width: 100vw;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: black !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 0 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.text-primary {
    color: #ceaa4d !important;
}

body {
    margin-top: 20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 76vw;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}
